#topnav-menu-content{
    scroll-behavior: smooth;
}
.bg-web{
    --bs-bg-opacity: 1;
    background-color: #F0E3D3 !important;
}

.bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 0.7;
    background-color: #000;
}
.navigation.nav-sticky {
    background-color: white;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}
.navigation {
    padding: 0 16px;
    width: 100%;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid rgba(148, 97, 97, 0.1);
}

@media (max-width: 991.98px) {
    .navigation {
        background-color: white;
    }
}
.navigation .navbar-logo {
    line-height: 70px;
    transition: all 0.4s;
}
button, a {
    outline: none !important;
}

a {
    text-decoration: none !important;
}

.hero-section.bg-ico-hero {
    background-image: url(../../../assets/images/bg-color.png);
    background-size: cover;
    background-position: top;
}
.hero-section {
    padding-top: 220px !important;
    padding-bottom: 190px !important;
}
.section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.row > * {
    position: relative;
}
.hero-section .hero-title {
    font-size: 42px;
}
.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.font-size-14 {
    font-size: 14px !important;
}

.section.bg-white {
    background-color: white !important;
}
.currency-price {
    position: relative;
    bottom: 40px;
}
.card {
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: #ece9e9 !important;
}
.landing-footer {
    padding: 80px 0 40px;
    background-color: #F0E3D3;
    color: rgba(255, 255, 255, 0.5);
}
.landing-footer .footer-list-title {
    color: rgba(25, 23, 23, 0.9);
}

.landing-footer .footer-list-menu li a {
    display: block;
    color: rgba(149, 75, 75, 0.5);
    margin-bottom: 14px;
    transition: all 0.4s;
}
.a-txt{
    font-weight: 900;
    margin: 0px 20px;
}